body { padding-top: 50px; }
/**************************************** 
*     En-tête de l'accueil
****************************************/ 
.jumbotron .container{
   align-content: flex-start;
    margin-left: 0;
    width: 50%;
} 
    
#maPhoto {
    width: 125px; height: 125px;
    margin: 5px;
}
